.eventLeft{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.eventNav{
    padding-top: 2em;
    display: flex;
    gap: 1em;
    font-size: 1rem !important;
    align-self: center;
}
.eventNav>li{
    font-family: 'PrettyBoy-SemiBold';
    cursor: pointer;
    transition: all .3s ease-in-out;
    align-self: center;
}
.eventNav>li:hover{
    font-size: 1.5rem;
}
.eventDay{
    padding: 1em;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}
.proshowEvent{
    width: calc((80vmin*4)/5);
    height: calc((80vmin*5)/5);
}
.otherEvents{
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    align-items: center;
    justify-content: center;
}
.otherEvent{
    width: 40vmin;
    height: 40vmin;
    background-color: blue;
}
.proshowPoster{
    width: 100%;
    object-fit: contain;
}
.otherEventPoster{
    width: 100%;
    object-fit: contain;
}
