.scheduleRightContainer{
 display: flex;
 flex-direction: column;
 width: 90%;
 gap: 2em;
 padding: 1em;
}
@media screen and (min-width:720px){
    .scheduleRightContainer{
        margin: 10em;
    }
}
.scheduleRight{
    display: grid;
    place-items: center;
}
.allSchedules{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.eventsOnDay{
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.eventDetails{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.eventDetails{
    font-size: large;
    background-color: #0000006f;
    padding: .5em;
    border-radius: 1em;
}
.eventName{
    font-weight: bold;
}