<<<<<<< HEAD
.footerContainer{
    display: grid;
    width: 100%;
    background-color: #000000;
   /* place-items: center; */
    grid-template-areas: "b a c";
    grid-template-columns: repeat(3, 1fr);
    padding: .5em 0;
}
.footerLink{
    place-self: center;
    display: flex;
    align-items: center;
    gap: 1em;
    grid-area: a;
}
.footerContainer img{
    filter: invert(1);
    height: 1.25rem;
}
.footerLink p{
    font-weight: bold;
}
.footerContainer a{
    font-family:"PrettyBoy-SemiBold" !important;
    color:#FEEBD7;
}
.footerDev{
    grid-area: c;
    place-self: end;
    padding-right: 1em;
}
=======
.footer{
    display: grid;
    position: absolute;
    bottom: 0%;
    right: 0%;
    z-index: 10000;
    padding: .5em 0;
    font-size: smaller;
    place-items: center;
    width: fit-content;
    height: 5vh;
    background: #000;
    font-weight: thin;
    justify-items: end;
    padding-inline: 4em;
    border-radius: 2px;
/* font-family:sans-serif !important;   */
}
.footer a{
    font-family:"PrettyBoy-SemiBold" !important;
    color:#FEEBD7;
}
>>>>>>> a9b187b84f5550b1ed11bba15359a8e605f50746
