.footerContainer{
    display: grid;
    width: 100%;
    background-color: #000000;
   /* place-items: center; */
    grid-template-areas: "b a c";
    grid-template-columns: repeat(3, 1fr);
    padding: .5em 0;
}
.footerLink{
    place-self: center;
    display: flex;
    align-items: center;
    gap: 1em;
    grid-area: a;
}
.footerContainer img{
    filter: invert(1);
    height: 1.25rem;
}
.footerLink p{
    font-weight: bold;
}
.footerContainer a{
    font-family:"PrettyBoy-SemiBold" !important;
    color:#FEEBD7;
}
.footerDev{
    grid-area: c;
    place-self: end;
    padding-right: 1em;
}
