.HomeContainer {
    font-family: "PrettyBoy-SemiBold";
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    height: 100vh;
    max-width: 100vw;
    overflow-y: hidden;


}

.HomeContainer,
h1 {
    font-family: 'PrettyBoy-SemiBold';
}

.homeLeft {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}







/* FOR countdown */




#countDownUl>li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1.2em;
    text-transform: uppercase;
    background: #FEEBD7;
    width: 160px;
    height: fit-content;
    border: 3px solid #000000;
    box-shadow: 4px 4px 0px #FF3C3C;
    border-radius: 6px; 
    margin: 4px;

    text-align: center;
    
    color: #282828;
    font-family: "PrettyBoy-SemiBold";
}

#countDownUl>li span {
    display: block;
    font-size: 4.5rem;
    font-family: "PrettyBoy-SemiBold";


 
}
.onlyCountdown {
    display: grid;
    width: 100%;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
    grid-template-areas: "blank blank" "blank count";
  }
  
.countDown{
    padding:0 2em 2em 0;
    grid-area: count;

}