.sponserLogoGrid img{
    width: 50%;
}
.sponserLogoGrid{
    box-sizing: border-box;
    padding: 5em;
    gap: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
<<<<<<< HEAD
    min-height: 100%;
=======
>>>>>>> a9b187b84f5550b1ed11bba15359a8e605f50746
}

@media screen and (max-width: 768px){
    .sponserLogoGrid{
        padding: 4em;
        grid: none;
        display: flex;
        flex-direction:column;
    }
    .sponserLogoGrid img{
        width: 100%;
    }
<<<<<<< HEAD
    .sponsershipTitle{
        padding-bottom: 0.89em;
    
    }

=======
>>>>>>> a9b187b84f5550b1ed11bba15359a8e605f50746
}
    
