:root {

  --bg-white: #ffffff;
  --off-white-90: #E7E7E7;
  --off-white-80: #CFCFD0;
  --off-white-60: #B3B3B3;

  --off-white-50: #878789;

  --bg-black: #000000;
  --bg-off-black: #101013;
  --off-black-ash: #666666;

  --bg-color: #170101;



  --other-yellow: #FDBE6D;
  --other-blue: #47CBF8;
  --other-yellowBright: #FEDA75;
  --other-purple: #D795FF;
  --other-pink: #FF95BD;

  --other-project :#100006;

  --txt-xxxl: 100px;
  --txt-xxl: 74px;
  --txt-xl: 52px;
  --txt-l: 40px;
  --txt-ml: 32px;
  --txt-m: 26px;
  --txt-mm: 24px;
  --txt-s: 22px;
  --txt-xs: 16px;
  --txt-xxs:10px;

  --letter-spacing-l: 0.20em;
  --letter-spacing-s: -0.06em;

}

@font-face {
  font-family: 'PrettyBoy-SemiBold';
  src: url(./assets/Fonts/PrettyBoy-SemiBold.otf) format('opentype');
  /* font-weight: normal;
  font-style: normal; */
}


html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width: 0px;
  background: transparent;
}
* {

  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  box-sizing: border-box;
  line-height: normal;
  font-family: 'Inter', sans-serif;
}

body {

  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--off-white-90);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.container{
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas: "left right";
  grid-template-columns: 0.5fr 1fr;
}
.rightContainer{
  grid-area: right;
  width: 100%;
  height: 100%;
}
.leftContainer{
  grid-area: left;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .container{
    grid-template-areas: "left" "right";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
  }
  .rightContainer{
    grid-area: right;
    width: 100%;
    height: 100%;
  }
  .leftContainer{
    background-color: red;
    grid-area: left;
    width: 100%;
    height: fit-content;
  }
}


